body {
  color: #1a1a1a;
  background-color: #fafcff;
}

.about-container {
  display: flex;
  justify-content: space-between;
  gap: 10rem;
  /* margin-top: 13rem; */
  margin-bottom: 7em;
}

.bio-container h1 {
  margin-top: 19rem;
  margin-bottom: 3rem;
  font-size: 5rem;
  width: 80%;
  animation: slide-bottom 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.project-website {
  margin-top: 3rem;
  width: 80%;
}

.bio-container h2 {
  margin-top: 3rem;
}

.image-container img {
  width: 100%;
  height: auto;
  /* margin-top: 1rem; */
  margin-bottom: 5rem;
  animation: slowFadeIn 1s;
}

.about-page-button {
  margin-bottom: 0.25rem;
}

.heading {
  /* animation: slowFadeIn 1s; */
  /* Set to white by default */
  background-color: #fafcff;
  /* Add box-shadow by default */
  box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.2);
  transition:
    background-color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
  position: fixed;
  width: 100%;
  z-index: 10;
}

/* Only when JavaScript is enabled and user scrolls, revert to transparent */
.heading.scrolled {
  background-color: transparent;
  box-shadow: 0 0 0 transparent;
}
