/* animations */

/* Reference: https://animista.net/play/basic/slide/slide-right */

@keyframes animateCloud {
  0% {
    transform: translate3d(-120vw, 0, 0) scale(var(--cloud-scale, 1));
    opacity: 0;
  }
  100% {
    transform: translate3d(120vw, 0, 0) scale(var(--cloud-scale, 1));
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animateCloud2 {
  0% {
    transform: translate3d(-120vw, 0, 0) scale(var(--cloud-scale, 1));
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: translate3d(120vw, 0, 0) scale(var(--cloud-scale, 1));
    opacity: 1;
  }
}

@keyframes scale-and-spin {
  0%,
  10% {
    transform: scale(0) rotate(0deg);
  }
  20% {
    transform: scale(1) rotate(0deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

@keyframes slowFadeIn {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-bottom {
  0% {
    transform: translateY(-6rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-2rem);
    opacity: 0;
  }
  30% {
    transform: translateX(-2rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }

  #background-wrap {
    display: none !important;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
