body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}

h1,
h2,
h3 {
  color: #333;
}

.body-text {
  font-size: 16px;
}

.color-box {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 8px;
}

.btn-primary {
  background-color: #007bff;
  color: #fafcff;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-secondary {
  background-color: #28a745;
  color: #fafcff;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form {
  margin-top: 20px;
}

form label,
form input {
  display: block;
  margin-bottom: 8px;
}

form input {
  padding: 4px;
  width: 200px;
}

button[type="submit"] {
  padding: 8px 20px;
  background-color: #007bff;
  color: #fafcff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
